

.header-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
}


.header {
    display: flex;
    list-style-type: none;
    gap: 2rem;
    margin: 5px;
    padding: 0%;
   
}

.header li {
cursor: pointer;
}