.popup-container{
    width: 350px;
    height: 300px;
    background-color: rgba(80, 80, 80, .7);
    border-radius: 1rem;
    border: 2px solid black;
    z-index: 5;
    position: absolute;
    overflow-y: scroll;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.quit-btn {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    margin: 8px;
    display: flex;
    cursor: pointer;
}

.fullscreen-btn {
    width: 15px;
    height: 15px;
    background-color: yellow;
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
}